#cards-view .card .card-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 2.5rem;
  -moz-box-sizing: border-box;
  display: none;
}
#cards-view .card .appPreview {
  display: none;
}
#cards-view #card-current .card-header {
  display: none;
}
#cards-view .card h1.title {
  position: static;
  z-index: auto;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow-x: hidden;
}
#cards-view .card p.subtitle {
  display: none;
}

/* what to show when we dont show a screenshot? */
#cards-view .card > .appIconView {
}

#cards-view .screenshotView {
  display: none;
}

#cards-view .card-tray {
  position: absolute;
  /* position in vertical middle to align with app/screenshot */
  top: auto;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  transform-origin: 50% 0;
  pointer-events: auto;
  overflow: visible;
  z-index: 100;
  padding: 0;
  -moz-box-sizing: border-box;
  color: #fff;
}
#cards-view .card-tray > menu.buttonbar {
  height: 3rem;
  margin: 0;
  padding: 0;
  background: rgba(255,255,255,0.95);
}
#cards-view .card-tray > menu.buttonbar > button {
  background-size: 2rem auto;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  width: 20%;
  height: 100%;
  border: none;
  display: none;
  position: absolute;
  top: 0;
  z-index: 99999;
}
#cards-view .card-tray .close-button {
  background-image: url(./images/close.png);
  left: 0.8rem;
}
#cards-view .card-tray .favorite-button {
  background-image: url(./images/favorite.png);
  right: 0.8rem;
}

#cards-view .card-tray > button.appIcon {
  top: -1rem;
  left: calc(50% - 4rem);
  width: 8rem;
  height: 8rem;
  background-image: url(./icons/Default.png);
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  border: none;
  position: absolute;
  z-index: 99999;
}
#cards-view li.card[data-card-position='current'] .close-button,
#cards-view li.card[data-card-position='current'] .favorite-button {
  display: block;
}
