#cards-view .card {
  position: absolute;
  display: block;
  margin: 0px 0.5rem 0px 0px;
  font-size: 3em;
  height: 100%;
  top: 0px;
  width: 100%;
  /*outline: 1px solid purple;*/
}

#cards-view .card .card-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-bottom: 2.5rem;
  -moz-box-sizing: border-box;
  display: none;
}

#cards-view .card p.subtitle {
  display: none;
}

/* what to show when we dont show a screenshot? */
#cards-view .card > .appIconView {
}

#cards-view .screenshotView {
  display: none;
}
